<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section id="app">
       <p v-if="message !== Hello" v-bind:id="message">Paragraphe</p>
       <div v-if="toggle == false">
            <p v-for="item in tab">test</p>
       </div>
       
       <button v-on:click="showBloup()">Click here</button>
        <input type="text" v-model="message"><br><br>
        <button id="toggle" v-on:click="showTab()">Afficher le tableau</button>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>